<style>
    .remove-decoration{
        text-decoration: none;
    }
 
</style>
<!-- Sidebar -->
<div class="wrapper"> 
    <div style="text-align: center;">
        <h5>
            <ul class="list-unstyled components">
                <li class="nav-item  mt-4">
                    <a class="remove-decoration" href="/">Invoices Form</a>
                </li>
                <li class="nav-item  mt-4">
                    <a class="remove-decoration" href="/listingdata">Invoices Data</a>
                </li>
            </ul>
        </h5>
    </div>
</div>